@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {

  max-width:100%!important;
  width:100%;
  height:800px;
  perspective:1000;
  -webkit-perspective:1000;
  perspective-origin:50% 50%;
  transform-style:preserve-3d;
  position:relative;
  margin:0 auto;
  overflow:hidden;
}

.photoqueue {

  position:absolute;
  top:50%;
  left:50%;
  backface-visibility: visible;
  transform-style:preserve-3d;
  transform-origin:50% 50%;
  cursor:pointer;
}

.photoqueue-item {

  width:350px;
  height:500px;
  transform-origin:50% 50%;
  position:absolute;
  backface-visibility: visible;
  top:-250px;
  left:-175px;
  border:2px solid #eee;
  border-radius:8px;
  background-color:#111;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;

  /*Improvement*/
  transition:1.25s all cubic-bezier(.17,.75,.58,.95);
  box-shadow: 0px 10px 27px -1px rgba(0,0,0,0.7);
}
